
@{
    ViewBag.Title = "Index";
}

<h2>Grid Concept in Bootstrap </h2>
<div class="row">

        <div class="col-lg-6 bg-danger">
            <div class="col-lg-6 bg-primary">
                span 3
            </div>
            <div class="col-lg-6 bg-info">
                span 3
            </div>
        </div>
        <div class="col-lg-6 bg-warning">
            span 6
        </div>

    </div>
<div class="row">

    <div class="col-lg-3 bg-danger">
        span 3
    </div>
    <div class="col-lg-9 bg-warning">
        
        <div class="col-lg-3 bg-primary">
           span 3
        </div>
        <div class="col-lg-9 bg-info">
            span 9
        </div>
    </div>

</div>
<div class="row">

        <div class="col-lg-9 bg-danger">
            <div class="col-lg-3 bg-primary">
                span 3
            </div>
            <div class="col-lg-3 bg-info">
                span 3
            </div> 
            <div class="col-lg-3 bg-primary">
                span 3
            </div> 
            <div class="col-lg-3 bg-info">
                span 3
            </div>
        </div>
        <div class="col-lg-3 bg-warning">
            span 3
        </div>

    </div>

